@charset "UTF-8";

#agreeWrap{
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
.agreeBtns{
    margin-bottom: 40px;
}
.agreeBtns a{
    text-decoration: none;
}
.agreeBtn{
    width: 330px;
    height: 40px;
    background-color: lightgray;
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 12px;
}
#agreeBtnA1, #agreeBtnB2, #agreeBtnC3{
    background: rgb(250, 212, 0);
}
#agreeImg1, #agreeImg2, #agreeImg3{
    width: 1000px;
    height: auto;
    margin-bottom: 50px;
}
