@charset "UTF-8";

#cartEmptyWrap{
    width: 1000px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
#cartEmptyWrap a{
    text-decoration: none;
    color: black;
}
#cartEmptyInnerWrap{
    border-top: 2px solid gray; 
    border-bottom: 2px solid gray;
}
#emptyWrap{
    width: 990px;
    margin-top: 100px;
}
#emptyWarningImg{
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}
#cartMainBtn{
    border: none;
    width: 150px;
    height: 70px;
    font-size: 20px;
    border-radius: 10%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
