@charset "UTF-8";

.cartWrap{
    width: 1000px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
.cartWrap a{
    text-decoration: none;
    color: black;
}
#refundNotice{
	width:1000px;
	text-align:center;
	color:red;
	font-size:14px;
	margin-bottom:60px;
}

#cartProductWrap{
	width:1000px;
}
#cartProductWrap, #cartProductWrap tr{
	border-collapse: collapse;
	border-top:1px solid grey;
	border-bottom:1px solid grey;
}
.cartProductCheck, #cartTotalCheck{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.cartProductImg{
    width: 150px;
    height: 150px;
    margin: 10px 10px;
}
.cartProductName{
    width: 250px;
    display: inline-block;
    font-size: 25px;
    font-weight: 550;
    margin-left: 10px;
}
.cartProductPrice, .productTotalPrice{
    width: 70px;
    margin-left:45px;
    font-size: 22px;
    text-align: center;
    border:none;
}

/* 수량 */
.cartProductAmountWrap{
    width: 100px;
    height:70px;
    margin:auto;
    text-align: center;
}
.input {
    width:35px;
    height:30px;
    border: 1px solid #dbdbdb;
    line-height: 30px;
    text-align: center;
    float:left;
}
.minus, .plus{
	width:30px;
	height:34px;
	font-size:20px;
	font-weight:bold;
	float:left;
}
.minus{
	background: white;
	border: 1px solid #dbdbdb;
}
.plus{
    background: white;
    border: 1px solid #dbdbdb;
}
.qty_edit {
    display: inline-block;
    width: 50px;
    height: 25px;
    margin: 10px auto;
    padding: 5px 0 6px;
    border: 1px solid #dbdbdb;
    font-size: 11px;
    color: #818181;
    background: white;
    cursor:pointer;
}
/* 총 금액 */
.totalPrice, .deliveryPrice, .cartTotalPrice{
    width: 80px;
    heigt:50px;
    text-align: center;
    margin-left: 50px;
    border:none;
    font-size:25px;
}
#cartTotalPriceWrap span{font-size: 25px;}
.cartTotalPrice{color:red;}

#cartTotalCheckWrap{
    height: 100px;
    margin-bottom: 50px;
}
#cartTotalCheckLabel{
    font-size: 20px;
}
#cartDeleteBtn{
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 18px;
}
#cartDeliveryInfo{
    width: 700px;
    font-size: 20px;
    text-align: right;
}

#cartTotalPriceWrap{
    border-top: 2px solid gray; 
    border-bottom: 2px solid gray;
    margin-bottom: 40px;
}

#cartSelectedOrder, #cartAllOrder{
    width: 160px;
    height: 60px;
    margin: 12px;
    border: none;
    border-radius: 10%;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
#cartSelectedOrder{
    background-color: rgb(250, 142, 0);
}

/* 장바구니 비어 있을 때 */
#emptyWrap{
    width: 990px;
    margin-top: 100px;
    margin-bottom: 100px;
}
#emptyWarningImg{
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}
#cartMainBtn{
    border: none;
    width: 150px;
    height: 70px;
    font-size: 20px;
    border-radius: 10%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}
