@charset "UTF-8";

 .join_box 
    {
	    width: 560px;
	    min-height: 786px;
	    margin: 0 auto 37px;
	    padding: 0 54px;
	    border: 1px solid #e4e7ee;
	    background: #fff;
	    text-align: left;
    }
    .join_box div{display: block;}
    .join_box h2 {
    margin: 41px 0 5px;
    font-size: 32px;
    font-weight: 800;
    line-height: 43px;
    color: #333;
    }

    .join_box h2 strong {
    font-weight: 800;
    color: #f7702e;}
    .join_box .join_set input {
    display: block;
    width: 522px;
    height: 54px;
    padding: 0 18px;
    font-size: 16px;
    line-height: 50px;
    color: #333;
    }
    .ir {
    display: block;
    overflow: hidden;
    position: absolute !important;
    top: -1000em;
    left: 0;
    z-index: -1;
    height: 0;
    }
    .content {
    position: relative;
    width: 1000px;
    min-width: 1000px;
    margin: auto;
    padding: 0;
}
 	.wrap.mem {
    /* position: relative; */
    min-height: 480px;
    padding: 120px 0;
    background: #f5f5f5;
    text-align: center;
    margin: 0;
	}
	.join_box .caution {
    display: block;
    clear: both;
    height: 0;
    height: 14px;
    margin-bottom: -19px;
    padding: 5px 0 0 18px;
    background: url("/dailyChan/resources/img/ico_caution.png") no-repeat left 5px;
    line-height: 13px;
    text-align: left;
    color: #f7702e;
    font-size: 12px;
	}	
	#join_pw {
    margin-top: 40px;
    background: url("/dailyChan/resources/img/bg_pw.png") no-repeat 527px center;
	}
	#join_pw_re {
    margin: 9px 0 0;
    background: url("/dailyChan/resources/img/bg_pw_re.png") no-repeat 527px center;
	}
	#join_name
	{
		margin-top: 40px;
		
	}
	.join_box .join_set .phone_num select {
    display: block;
    float: left;
    width: 170px;
    height: 58px;
    font-size: 16px;
    letter-spacing: 0;
    color: #333;
    padding: 4px 4px 7px 8px;
    border: #ccc 1px solid;
}
.join_box .join_set .phone_num input[type=text] {
    display: block;
    float: left;
    width: 328px;
    margin-left: 20px;
}

.join_box .join_set .phone_num {
    position: relative;
    width: 558px;
    height: 54px;
    margin-top: 40px;
    line-height: 34px;
}
#email_auth_form, #recomm_remark {

    margin-top: 20px;
}
#email
{
	float: left;
	display:block;
	width: 390px;
}
#emailAuth_btn
{
	display:block;
	float: left;
	width: 100px;
	height: 58px;
	background: #fe7600;
	color: white;
	text-align: center;
	text-decoration: none;
	border: 0;
	outline: 0;
	margin-left: 30px;
	font-size: 16px;
    font-weight: 800;
	
}

.agree_box .agree_list {
    margin-bottom: 41px;
    padding: 15px 0 0px 23px;
    text-align: left;
        list-style: none;
}

.agree_box .agree_list li + li {
    margin-top: 8px;
}
.agree_box .agree_list .arrow_btn01 {
    margin: 4px 0 0 5px;
    background: #fff;
    font-family: dotum;
    font-size: 11px;
    line-height: 22px;
    color: #333;
    display: inline-block;
    height: 20px;
    margin-top: 5px;
    padding: 0 9px;
    border: 1px solid #dbdbdb;
    text-decoration: none;
}
.recieve_agree_notice p {
    font-size: 16px;
    color: #8b8b8b;
}
.agree_box .join_up {
    display: block;
    width: 360px;
    height: 56px;
    margin: 50px auto 25px;
    background: #f7702e;
    line-height: 56px;
    text-align: center;
}
#btn_join_up
{
	text-decoration: none;
	border:0;
}
.agree_box .join_up strong {
    font-size: 16px;
    font-weight: 800;
    color: #fff;
}
	#enrollBody
	{
		margin: 0;
	}