@charset "UTF-8";

#orderWrap{
    width: 1000px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
#orderWrap a{
    text-decoration: none;
    color: black;
}

#orderProductWrap{
    border-top: 2px solid gray; 
    border-bottom: 2px solid gray;
    margin-bottom: 30px;
}

.orderProductInnerTable{
    padding-top: 15px;
    padding-bottom: 15px;
}

.orderProductImg{
    width: 150px;
    height: 150px;
    margin-left: 10px;
}
.orderProductName{
    width: 300px;
    display: inline-block;
    font-size: 25px;
    font-weight: 550;
    margin: 20px 0px 20px 30px;
}
.orderProductPrice{
    width: 130px;
    margin-left: 50px;
    font-size: 22px;
    text-align: center;
}
.orderProductAmountWrap{
    width: 125px;
    margin-left: 15px;
    text-align: center;
}
.orderProductMinusBtn, .orderProductPlusBtn{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 30%;
    font-size: 25px;
    font-weight: 540;
    text-align: center;
}
.orderProductAmount{
    font-size: 25px;
    font-weight: 500;
    padding: 5px;
    margin-left:50px;
}
.orderProductTotalPrice{
    width: 150px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-left: 90px;
}

.orderLabel{
    font-size: 30px;
    font-weight: 550;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 40px;
}
#orderPointCoupon, #orderMemberInfo, #orderDeliveryrInfo, #orderPaymentType{
    width: 1000px;
    border: 1px solid lightgray;
}
#orderPointCoupon td, #orderMemberInfo td, #orderDeliveryrInfo td, #orderPaymentType td{
    padding-left: 30px;
    padding-right: 20px;
    font-size: 17px;
    height: 60px;
}

#orderPointCoupon tr>td:first-child,
#orderMemberInfo tr>td:first-child, 
#orderDeliveryrInfo tr>td:first-child,
#orderPaymentType tr>td:first-child{
    background: lightgray;
    width: 230px;
}
#orderInputPoint, #orderSelectCoupon{
    height: 30px;
    padding-left: 10px;
}
#orderInputPoint{
    width: 200px;
}
#orderSelectCoupon{
    width: 250px;
}
#orderPointBtn, #orderCouponBtn{
    width: 70px;
    height: 30px;
    border: none;
    background: orange;
    border-radius: 10%;
    color: white;
}
#orderSecondPhone{
    width: 200px;
    height: 30px;
    padding-left: 10px;
    font-size: 17px;
}
#orderDeliveryDate{
    font-size: 22px;
    font-weight: 550;
    color: orange;
}
#orderDeliveryRequest{
    font-size: 17px;
    width: 400px;
    height: 30px;
    padding-left: 10px;
}

#orderTotalLabel{
    font-size: 40px;
    font-weight: 550;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}
#orderCheckImg{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

#orderTotalPriceWrap{
    width: 1000px;
    border-top: 2px solid gray; 
    border-bottom: 2px solid gray;
    margin-bottom: 40px;
}

#orderPreviosBtn, #orderBtn{
    width: 160px;
    height: 60px;
    margin: 12px;
    border: none;
    border-radius: 10%;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
#orderPreviosBtn{
    background-color: lightgrey;
}
#orderBtn{
    background-color: rgb(250, 142, 0);
}

