@charset "UTF-8";

#categoryWrap{
    width: 1000px;
    margin: auto;
    margin-top: 70px;
}
#categoryWrap a{text-decoration: none;}
.categoryBtns{
    width: 200px;
    height: 40px;
    border: 1px solid darkgray;
    background-color: lightgray;
    color: black;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
    margin-bottom: 70px;
}

#categoryFilter{
    font-size: 16px;
    font-weight: 550;
    margin-right: 10px;
    margin-bottom: 40px;
}
#categoryFilter a{
    color: black;
}

#productListWrap{
	width: 1000px;
	margin: auto;
}

.categoryInnerTable{
    width: 220px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.categoryInnerTable a{
    text-decoration: none;
    color: black;
}
.productImg{
    width: 210px;
    height: 210px;
}
.productName{
    width: 210px;
    height: 40px;
    font-size: 18px;
    font-weight: 550;
    text-align: left;
    padding-left: 3px;
    margin-top: 5px;
}
.productInfo{
    width: 210px;
    height: 30px;
    font-size: 15px;
    font-weight: 550;
    text-align: left;
    padding-left: 3px;
}
.productPrice{padding-right: 5px;}
.productFor{padding-left: 5px;}
.productBtn{
    width: 210px;
    height: 40px;
    text-align: right;
    padding-right: 10px;
}
.cpCartLogo, .cpLikeLogo{
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-top: 10px;
}